alabaster==0.7.12 ; python_version > "3.8" and python_version < "3.10"
altgraph==0.17.2 ; python_version > "3.8" and python_version < "3.10"
atomicwrites==1.4.0 ; python_version > "3.8" and python_version < "3.10" and sys_platform == "win32"
attrs==21.4.0 ; python_version > "3.8" and python_version < "3.10"
babel==2.9.1 ; python_version > "3.8" and python_version < "3.10"
certifi==2021.10.8 ; python_version > "3.8" and python_version < "3.10"
charset-normalizer==2.0.12 ; python_version > "3.8" and python_version < "3.10"
colorama==0.4.4 ; python_version > "3.8" and python_version < "3.10" and sys_platform == "win32"
docutils==0.17.1 ; python_version > "3.8" and python_version < "3.10"
et-xmlfile==1.1.0 ; python_version > "3.8" and python_version < "3.10"
future==0.18.2 ; python_version > "3.8" and python_version < "3.10"
idna==3.3 ; python_version > "3.8" and python_version < "3.10"
imagesize==1.3.0 ; python_version > "3.8" and python_version < "3.10"
importlib-metadata==4.10.1 ; python_version > "3.8" and python_version < "3.10"
iniconfig==1.1.1 ; python_version > "3.8" and python_version < "3.10"
jinja2==3.1.1 ; python_version > "3.8" and python_version < "3.10"
json-maj==0.0.3 ; python_version > "3.8" and python_version < "3.10"
macholib==1.16 ; python_version > "3.8" and python_version < "3.10" and sys_platform == "darwin"
markupsafe==2.1.1 ; python_version > "3.8" and python_version < "3.10"
nibabel==3.2.1 ; python_version > "3.8" and python_version < "3.10"
numpy==1.21.5 ; python_version > "3.8" and python_version < "3.10"
openpyxl==3.0.9 ; python_version > "3.8" and python_version < "3.10"
packaging==21.3 ; python_version > "3.8" and python_version < "3.10"
pandas==1.4.4 ; python_version > "3.8" and python_version < "3.10"
pefile==2021.9.3 ; python_version > "3.8" and python_version < "3.10" and sys_platform == "win32"
pluggy==1.0.0 ; python_version > "3.8" and python_version < "3.10"
py==1.11.0 ; python_version > "3.8" and python_version < "3.10"
pydicom==2.2.2 ; python_version > "3.8" and python_version < "3.10"
pygments==2.11.2 ; python_version > "3.8" and python_version < "3.10"
pyinstaller-hooks-contrib==2022.4 ; python_version > "3.8" and python_version < "3.10"
pyinstaller==5.0 ; python_version > "3.8" and python_version < "3.10"
pyparsing==3.0.7 ; python_version > "3.8" and python_version < "3.10"
pytest==6.2.5 ; python_version > "3.8" and python_version < "3.10"
python-dateutil==2.8.2 ; python_version > "3.8" and python_version < "3.10"
python-dotenv==0.19.2 ; python_version > "3.8" and python_version < "3.10"
pytz==2021.3 ; python_version > "3.8" and python_version < "3.10"
pywin32-ctypes==0.2.0 ; python_version > "3.8" and python_version < "3.10" and sys_platform == "win32"
pyxlsb==1.0.9 ; python_version > "3.8" and python_version < "3.10"
requests==2.27.1 ; python_version > "3.8" and python_version < "3.10"
scipy==1.7.3 ; python_version > "3.8" and python_version < "3.10"
setuptools==65.3.0 ; python_version > "3.8" and python_version < "3.10"
six==1.16.0 ; python_version > "3.8" and python_version < "3.10"
snowballstemmer==2.2.0 ; python_version > "3.8" and python_version < "3.10"
sphinx-rtd-theme==1.0.0 ; python_version > "3.8" and python_version < "3.10"
sphinx==4.5.0 ; python_version > "3.8" and python_version < "3.10"
sphinxcontrib-applehelp==1.0.2 ; python_version > "3.8" and python_version < "3.10"
sphinxcontrib-devhelp==1.0.2 ; python_version > "3.8" and python_version < "3.10"
sphinxcontrib-htmlhelp==2.0.0 ; python_version > "3.8" and python_version < "3.10"
sphinxcontrib-jsmath==1.0.1 ; python_version > "3.8" and python_version < "3.10"
sphinxcontrib-matlabdomain==0.13.0 ; python_version > "3.8" and python_version < "3.10"
sphinxcontrib-qthelp==1.0.3 ; python_version > "3.8" and python_version < "3.10"
sphinxcontrib-serializinghtml==1.1.5 ; python_version > "3.8" and python_version < "3.10"
termcolor==1.1.0 ; python_version > "3.8" and python_version < "3.10"
toml==0.10.2 ; python_version > "3.8" and python_version < "3.10"
urllib3==1.26.9 ; python_version > "3.8" and python_version < "3.10"
xlrd==2.0.1 ; python_version > "3.8" and python_version < "3.10"
zipp==3.7.0 ; python_version > "3.8" and python_version < "3.10"
