# I think matlab generates these when you're running interactive files
*.asv
*.mat

# pycharm nonsense
*.idea

# IDE settings
.vscode/
.idea/

# python nonsense
*__pycache__*

# env vars,folders,files that should not be committed
.env

# pyinstall files and folders
build/
dist/
*.spec
pypet2bids/pypet2bids/metadata/
pypet2bids/pypet2bids/pyproject.toml

# Inherited cookiecutter files
HISTORY.rst
CONTRIBUTING.RST
.travis.yml
.editorconfig
tox.ini
README.rst

# annoying pycharm files
*.DS_STORE

# misc
*scratch*
*.b

# test environment
test_env/
*.pytest_cache

# sphinx
docs/_build/*/*.pickle
docs/_build/

# anything with a tilde in it
*~*

# nothing on D:\\BIDS
D:\\BIDS*

# spreadsheet outputs from testing
/spreadsheet_conversion/blood/pmod/recording-*!/spreadsheet_conversion/blood/.pytest_cache/

# test data
*OpenNeuroPET-Phantoms*
**PHANTOMS.zip
ecat_validation/ECAT7_multiframe.v
variables.env
ecat_testing/matlab/
ecat_testing/steps/
ecat_testing/**/*.nii*
*osem*
*fbp*

matlab/SiemensHRRTparameters.txt

