# I think matlab generates these when you're running interactive files
*.asv

# pycharm nonsense
*.idea

# python nonsense
*__pycache__*

# env vars,folders,files that should not be committed
.env

# pyinstall files and folders
build/
dist/
*.spec

# Inherited cookiecutter files
HISTORY.rst
CONTRIBUTING.RST
.travis.yml
.editorconfig
Makefile
tox.ini
README.rst

# annoying pycharm files
*.DS_STORE

docs/

